{{ define "main" }}
    <script>
        var url = {{ .Data.URL }};
        var file = new URL(url).pathname.split('/').pop();
        var wgetCmd = `wget -c -O "${file}" -t 20 "${url}"`;
        var curlCmd = `curl -o "${file}" -C - --retry 20 "${url}"`;
    </script>
    {{- if .Data.HasAds }}
    <pre class="warn-summary"><span>Your current download speed will be limited to {{ .Claims.Claims.Connection.Rate }}Mbps, <a href="/donate" data-umami-event="donate-download" class="link" target="_blank">donate</a> to increase your speed and remove ads!</span></pre>
    {{- end }}
    <div class="pt-3 px-5 flex flex-wrap gap-2 justify-end">
        {{- if .Data.HasAds }}
        <a class="btn btn-sm btn-soft uppercase flex-grow" data-umami-event="donate-download" href="/donate" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
            </svg>
            donate
        </a>
        {{- end }}
        <a class="btn btn-sm btn-soft-cyan closeable-close" onclick="navigator.clipboard.writeText(wgetCmd); toast.success('Copied!')">copy wget cmd</a>
        <a class="btn btn-sm btn-soft-cyan closeable-close" onclick="navigator.clipboard.writeText(curlCmd); toast.success('Copied!')">copy curl cmd</a>
        <a class="btn btn-sm btn-soft-cyan closeable-close" onclick="navigator.clipboard.writeText(url); toast.success('Copied!')">copy url</a>
        <a class="btn btn-sm btn-soft-cyan closeable-close" download href="{{ .Data.URL }}" onclick="toast.info('Download starting...')">start download</a>
        <a class="btn btn-sm btn-ghost border border-w-line text-w-sub hover:border-w-pink hover:text-base-content closeable-close">cancel</a>
    </div>
{{ end }}
