{{ define "main" }}
{{ with .Data }}
<audio class="player"
       crossorigin="anonymous"
       preload="{{ .ExportTag.Preload }}"
       data-resource-id="{{ .VideoStreamUserData.ResourceID }}"
       data-path="{{ .Item.PathStr }}"
       {{ if .TranscoderSession }}data-duration="{{ .TranscoderSession.Duration }}"
       {{ else if .MediaProbe }}data-duration="{{ .MediaProbe | getDurationSec }}" {{ end }}
       {{ if .TranscoderSession }}data-session-id="{{ .TranscoderSession.ID }}"{{ end }}
       {{ if .SessionSeekURL }}data-session-seek-url="{{ .SessionSeekURL }}"{{ end }}
       controls
       autoplay
       data-settings="{{ .Settings | json }}">
    {{ range .ExportTag.Sources }}
    <source src="{{ .Src }}" type="{{ .Type }}">
    {{ end }}
</audio>
{{ end }}
{{ "player.css" | asset }}
{{ "action/stream.js" | asset }}
{{ end }}