<!doctype html>
<html lang="en" data-theme="night" class="scroll-smooth">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ template "title" . }} | Webtor.io</title>
        {{ block "description" . }}{{ end }}
        <link rel="shortcut icon" href="/assets/night/favicon.ico">
        <link rel="icon" type="image/svg+xml" href="/assets/night/favicon.svg" >
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/night/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/night/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="48x48" href="/assets/night/favicon-48x48.png">
        {{ "inter.css" | asset }}
        {{ "comfortaa.css" | asset }}
        <script>
            window._CSRF = "{{ .CSRF }}";
            window._sessionID = "{{ .SessionID }}";
            window._domain = "{{ domain }}";
            {{- if useUmami }}
            window._umami = {{ umamiConfig | json }};
            {{- end }}
        </script>
        {{ "style.css" | asset }}
        {{- template "head_extra" . }}
    </head>
    <body class="flex flex-col min-h-screen font-sans antialiased">
        <script>document.body.style.display = 'none';</script>
        <progress id="progress" class="progress fixed progress-accent h-1 z-[60]"></progress>
        <header>
            <nav data-async-layout="{{`{{ template "nav" . }}`}}">{{ template "nav" . }}</nav>
        </header>
        <div id="wrapper" class="flex flex-col w-full items-center flex-1">
            <main id="main" class="w-full" data-async-scroll-top data-async-layout="{{`{{ template "main" . }}`}}" data-async-update-title="{{`{{ template "title" . }} | Webtor.io`}}" data-async-update-description="{{`{{ block "description" . }}{{ end }}`}}" data-async-update-nav="{{`{{ template "nav" . }}`}}">
            {{ template "main" . }}
            </main>
        </div>
        <div>
            {{ template "footer" . }}
        </div>
        <div id="toast-container" class="toast toast-end toast-bottom z-[70]"></div>
        {{ "layout.js" | asset }}
        {{- if useSuperTokens }}
        {{ "auth.js" | asset }}
        {{ end }}
    </body>
</html>
