{{ define "title" }}Profile{{ end }}
{{ define "main" }}
{{ if .Claims | hasAds }}{{ template "promo" . }}{{ end }}
<div id="tier">
    {{ template "profile/tier" $ }}
</div>
<div class="divider"></div>
<div id="streaming-backends" data-async-layout="{{`{{ template "profile/streaming_backends" $ }}`}}">
    {{ template "profile/streaming_backends" $ }}
</div>
<div class="divider"></div>
<div id="stremio" data-async-layout="{{`{{ template "profile/stremio" $ }}`}}">
    {{ template "profile/stremio" $ }}
</div>
<div class="divider"></div>
<div id="addon-urls" data-async-layout="{{`{{ template "profile/addon_urls" $ }}`}}">
    {{ template "profile/addon_urls" $ }}
</div>
<div class="divider"></div>
<div id="stremio-settings" data-async-layout="{{`{{ template "profile/stremio_settings" $ }}`}}">
    {{ template "profile/stremio_settings" $ }}
</div>
<div class="divider"></div>
<div id="webdav" data-async-layout="{{`{{ template "profile/webdav" $ }}`}}">
    {{ template "profile/webdav" $ }}
</div>
<div class="divider"></div>
<div id="embed-domains" data-async-layout="{{`{{ template "profile/embed_domains" $ }}`}}">
    {{ template "profile/embed_domains" $ }}
</div>
<div class="divider"></div>
<div class="flex flex-col justify-center items-center mt-10">
    <a href="/logout" class="btn btn-accent btn-soft btn-outline capitalize" data-async-target="main" data-umami-event="logout">logout</a>
</div>
{{ end }}