{{ define "title" }}Login{{ end }}
{{ define "main" }}
<div class="bg-base-200 text-accent border-accent border shadow-md p-4 rounded-box text-center">
    {{ if eq .Data.Instruction "library" }}
        <p>Authorization is required to access your library.</p>
    {{ end }}
    <p>Enter your email to receive a one-time login link.</p>
    <p>No password needed — just click the link in your inbox and you’re in!</p>
</div>
<form onsubmit="submitLoginForm(this, event)" class="join w-full mt-10">
    <input type="email" name="email" class="input input-bordered w-full join-item" placeholder="Your Email" />
    <button type="submit" class="btn btn-accent join-item">Send Magic Link</button>
</form>
<form class="hidden progress-alert progress-alert-block mt-5 closeable">
    <div class="log-target"></div>
    <div class="pt-3 flex justify-end hidden alert-close-wrapper">
        <a class="close closeable-close">got it!</a>
    </div>
</form>
{{ "auth/login.js" | asset }}
{{ end }}