{{ define "vault/pledge-modal/add" }}
<h3 class="text-2xl font-bold text-accent w-full">Keep This Torrent Available</h3>
	{{ if eq .Status "success" }}
		{{ template "vault/pledge-modal/add/success" . }}
	{{ else if eq .Status "error" }}
		<p class="py-4">
			Unfortunately, your pledge could not be saved due to an error:
		</p>
		{{ if .Err }}
			<div class="progress-alert progress-alert-oneline closeable mb-4">
				<pre>{{ .Err | log | shortErr }}</pre>
			</div>
		{{ end }}
		<div class="modal-action justify-center">
			<form method="dialog">
				<button class="btn btn-accent" data-umami-event="vault-pledge-error-confirmed">Ok</button>
			</form>
		</div>
	{{ else if or .Funded .Vaulted }}
		{{ template "vault/pledge-modal/add/success" . }}
	{{ else }}
		{{ if .Available }}
			{{ if ge (derefFloat64 .Available) .Required }}
				<p class="py-4">
					You have enough Vault Points to store this torrent in the Vault.
				</p>
			{{ else }}
				<p class="py-4">
					You don't have enough Vault Points to store this torrent.
				</p>
				<p class="pb-4">
					Try upgrading your subscription to the next tier to get more Vault Points.
				</p>
				<p>
					<a href="/donate" target="_blank" class="link link-accent" data-umami-event="vault-upgrade-clicked">Upgrade subscription</a>
				</p>
			{{ end }}
		{{ else }}
			<p class="py-4">
				You have unlimited Vault Points. You can store this torrent in the Vault.
			</p>
		{{ end }}
		<div class="py-4">
			<table class="table table-sm">
				<tbody>
					<tr>
						<td class="font-semibold">Torrent Size GB:</td>
						<td class="text-center">{{ printf "%.2f" .TorrentSizeGB }}</td>
					</tr>
					<tr>
						<td class="font-semibold">Required VP:</td>
						<td class="text-center">{{ printf "%.2f" .Required }}</td>
					</tr>
					<tr>
						<td class="font-semibold">Your Available VP:</td>
						<td class="text-center">
							{{ if .Available }}
								{{ printf "%.2f" (derefFloat64 .Available) }}
							{{ else }}
								<span class="text-xl">∞</span>
							{{ end }}
						</td>
					</tr>
					<tr>
						<td class="font-semibold">Your Total VP:</td>
						<td class="text-center">
							{{ if .Total }}
								{{ printf "%.2f" (derefFloat64 .Total) }}
							{{ else }}
								<span class="text-xl">∞</span>
							{{ end }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-left w-full text-sm text-accent mt-2">
			<span class="text-accent">ⓘ</span>
			<a href="/instructions/vault" class="hover:underline" data-umami-event="instruction-vault" target="_blank">What is Vault?</a>
		</div>

		<div class="modal-action justify-center">
			{{ if or (not .Available) (ge (derefFloat64 .Available) .Required) }}
				<form action="/vault/pledge/add" method="post" data-async-target="#pledge-modal" data-async-push-state="false">
					<input type="hidden" name="resource_id" value="{{ .ResourceID }}" />
					<button type="submit" class="btn btn-accent" data-umami-event="vault-store-confirmed">
						Store in Vault
					</button>
				</form>
			{{ end }}
			<form method="dialog">
				<button class="btn btn-accent btn-outline btn-soft" data-umami-event="vault-cancelled">Cancel</button>
			</form>
		</div>
	{{ end }}
{{ end }}
