{{ define "vault/pledge-modal" }}
{{ if or .VaultPledgeAddForm .VaultPledgeRemoveForm }}
<dialog class="modal" open>
    <div class="modal-box bg-w-card border border-w-line/50 rounded-2xl">
        {{ if .VaultPledgeAddForm }}
            {{ template "vault/pledge-modal/add" .VaultPledgeAddForm }}
        {{ end }}
        {{ if .VaultPledgeRemoveForm }}
            {{ template "vault/pledge-modal/remove" .VaultPledgeRemoveForm }}
        {{ end }}
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
{{ end }}
{{ end }}
