{{ define "profile/webdav" }}
    <div class="hero bg-base-200">
        <div class="hero-content text-center w-full">
            <div class="w-full">
                <h2 class="text-2xl font-bold text-accent">WebDAV integration</h2>
                <div class="flex flex-col justify-center items-center mt-6 mb-3 w-full">
                    {{ if .Claims | isPaid }}
                        {{ if eq .Data.WebDAVURL "" }}
                            <form method="post" enctype="multipart/form-data" data-async-push-state="false" action="/webdav/url/generate" data-async-target="#webdav">
                                <button type="submit" class="btn btn-accent btn-outline capitalize whitespace-nowrap" data-umami-event="webdav-generate-url">
                                    Generate WebDAV URL
                                </button>
                            </form>
                        {{ else }}
                            <script>
                                var webdavUrl = "{{ domain }}{{ .Data.WebDAVURL }}";
                                function copyWebDAVUrl(form, e) {
                                    e.preventDefault();
                                    navigator.clipboard.writeText(webdavUrl);
                                    return false;
                                }
                            </script>
                            <div class="w-full sm:px-5">
                                <form onsubmit="copyWebDAVUrl(this, event)" class="join w-full">
                                    <input name="token" readonly class="input input-bordered w-full join-item" value="{{ domain }}{{ .Data.WebDAVURL }}" />
                                    <button type="submit" class="btn btn-accent join-item capitalize" data-umami-event="webdav-copy-url">copy WebDAV url</button>
                                </form>
                                <div class="text-left w-full text-sm text-accent mt-2">
                                    <span class="text-accent">ⓘ</span>
                                    <a href="/instructions/webdav" class="hover:underline" data-umami-event="instruction-webdav" target="_blank">How to connect via WebDAV?</a>
                                </div>
                            </div>
                        {{ end }}
                    {{ else }}
                        <p class="mb-6">WebDAV integration is available for premium users. <a href="/donate" class="btn-link" data-umami-event="donate-webdav">Upgrade your tier to unlock it!</a></p>
                        <button disabled class="btn btn-accent btn-outline capitalize whitespace-nowrap">
                            Generate WebDAV URL
                        </button>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
{{ end }}