{{ define "main" }}
    <pre class="error-summary"><span class="line"><strong>{{ t $.Lang "action.noPeers.title" }}</strong></span></pre>
    <pre class="error-summary continue"><span class="line">{{ t $.Lang "action.noPeers.noSeeders" }}</span></pre>
    <pre class="error-summary continue"><span class="line">{{ t $.Lang "action.noPeers.notPossible" }}</span></pre>
    <pre class="error-summary continue"><span class="line">{{ t $.Lang "action.noPeers.trySearhing" }}</span></pre>
    <div class="pt-3 px-5 flex flex-wrap gap-2 justify-end">
        <a class="close closeable-close">{{ t $.Lang "action.noPeers.gotIt" }}</a>
    </div>
{{ end }}
