{{ define "main" }}
    <pre class="error-summary"><span class="line"><strong>important note:</strong></span></pre>
    <pre class="error-summary continue"><span class="line">this torrent currently has no active sources (seeders)</span></pre>
    <pre class="error-summary continue"><span class="line">download and streaming are not possible right now</span></pre>
    <pre class="error-summary continue"><span class="line">please try searching for another torrent with more peers</span></pre>
    <div class="pt-3 ml-3 flex flex-wrap justify-end">
        <a class="close m-2 closeable-close">Got it!</a>
    </div>
{{ end }}
